PROJECT_NAME=Lassa Fever Forecast

LOG_LEVEL=INFO

NASA_POWER_API_KEY=
OPENWEATHER_API_KEY=
WHO_API_KEY=

DATABASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AZURE_STORAGE_CONNECTION_STRING=

GOOGLE_APPLICATION_CREDENTIALS=

MLFLOW_TRACKING_URI=
